<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MaxArcChordDistance/src/Driver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Driver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\ckobel\workspace\MaxArcChordDistance\src\BoundaryPts.txt&#13;&#10;5&#13;&#10;C:\Users\ckobel\workspace\MaxArcChordDistance\src\output.txt&#13;&#10;C:\Users\ckobel\workspace\MaxArcChordDistance\src\prettyprint.txt&#13;&#10;C:\Users\ckobel\workspace\MaxArcChordDistance\src\debug.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MaxArcChordDistance"/>
</launchConfiguration>
