<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Work/src/WebScraping/SSLPageLinkCreator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="WebScraping.SSLPageLinkCreator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\ckobel\Desktop\SSL_SCAN_TOOLS\SSL_SCAN_RESULTS.txt&#9;&#13;&#10;C:\Users\ckobel\Desktop\SSL_SCAN_TOOLS\SSL_SCAN_RESULTS.html"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Work"/>
</launchConfiguration>
